body {
  margin: 0;
  font-family: 'Baloo 2', sans-serif;
  background-color: #eaeded;
  position: relative;
  max-height: 220vh;
}

.is-blur {
  filter: blur(0.19rem);
}

header {
  background-color: #0f1111;
  display: flex;
  width: 100%;
  min-height: 80px;
  max-height: 100px;
  margin: 0;
  position: relative;
}

.sidebar {
  margin: 0;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.sidebar img {
  max-width: 30%;
  max-height: 50%;
  margin-left: 20px;
  cursor: pointer;
}
.sidebar img:hover{
  transition: color 0.3s;
  transform: scale(1.1);
}
.sidebar_categories {
  list-style: none;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  flex-wrap: wrap;
}
.sidebar_categories li {
  padding: 0px 10px;
}
.sidebar_categories li button {
  background-color: transparent;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
}

.sidebar button:hover {
  color: rgb(255, 157, 0);
  transition: color 0.3s;
  transform: scale(1.1);
}

.sidebar button:focus {
  outline: none;
}

.sidebar__login {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
  margin-right: 30px;
  letter-spacing: 1px;
}
.sidebar__login span {
  font-size: 20px;
  color: rgb(255, 157, 0);
}

.toast {
  position: fixed;
  top: 6.4%;
  left: 60%;
  right: 20%;
  z-index: 1;
  padding: 20px;
  transition: 0.3s ease;
  color: black;
  background-color: rgba(246, 243, 191, 0.95);
  transform: translateY(0px);
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  font-family: "Hammersmith One", sans-serif;
  border-top-right-radius: 5px;
  border-end-end-radius: 10px;
}

.successfulLogin {
  left: 5%;
  right: 5%;
  background-color: rgba(154, 255, 72, 0.95);
  font-weight: bold;
}

.unsuccessfulLogin {
  left: 5%;
  right: 5%;
  background-color: rgba(214, 41, 41, 0.95);
  font-weight: bold;
}
.pleaseLogin{
  left: 5%;
  right: 5%;
  top:15%;
  background-color:rgba(246, 243, 191, 0.95);
  font-size: 15px;
  font-weight: bold;
}
.completePay{
  left: 5%;
  right: 5%;
  top:15%;
  font-size: 25px;
  background-color: rgba(154, 255, 72, 0.95);
  font-weight: bold;
}
.is-hidden {
  transform: translateY(-100px);
  opacity: 0;
}
.sidebar__cart {
  margin-right: 10%;
}
.sidebar__cart button {
  font-size: 40px;
  background-color: #0f1111;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
}
.sidebar__cart-counter-items {
  font-size: 25px;
  font-weight: bold;
  color: rgb(255, 157, 0);
}
/**END SIDEBAR****/
.main__wrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    box-sizing: border-box;
    padding-top: 70px;
  }

.btnPurchase{
  padding:20px;
  border-radius: 10px;
  font-size: 20px;
  background-color:rgb(255, 191, 88);
  color: rgb(24, 23, 23);
  font-weight: 900;
  cursor: pointer;
  border: none;
}
.btnPurchase:hover{
  background-color: #f6a000;
  transform: scale(1.1);
  transition: background-color 0.3s;
}
.btnPurchase:focus{
  outline: none;
}

.btnRemoveAllProducts{
  padding:20px;
  border-radius: 10px;
  font-size: 10px;
  background-color:rgb(197, 49, 12);
  color: rgb(24, 23, 23);
  font-weight: 900;
  font-size: 15px;
  cursor: pointer;
  border: none;
}
.btnRemoveAllProducts:hover{
  background-color: rgb(195, 13, 13);
  transform: scale(1.1);
  color: white;
  transition: background-color 0.3s color 0.3s;
}
.btnRemoveAllProducts:focus{
  outline: none;
}

/*SECTION WRAP CAROUSEL */
.wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 50px auto 0px auto;
}
.wrap_price_total{
  font-size: 25px;
  letter-spacing: 2px;
  font-weight: 700;
}
.wrap h2 {
  letter-spacing: 2px;
  font-weight: bold;
}

.wrap__items {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 35px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.wrap__items-title {
  font-size: 24px;
  margin-bottom: 10px;
}
.wrap__items-card {
  display: flex;
  height: 350px;
  max-width: 300px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0 0 0;
  margin: 6px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}
.wrap__items-card a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.wrap__items-card:hover {
  transform: translateY(-15px);
  transition: all 250ms ease-in-out;
}

.wrap__items-card img {
  width: 60%;
  height: 60%;
}
.wrap__items-card h3,
h5 {
  margin: 5px;
}
.wrap__items-card--feedback i {
  color: rgb(255, 157, 0);
  font-size: 13px;
}
.wrap__items-card--feedback span {
  color: black;
  margin-left: 6px;
}

/**MODAL***/
.is-invisible {
  display: none;
}
/* .modal{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */
.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.modal__body {
  position: absolute;
  min-width: 350px;
  max-width: 450px;
  min-height: 500px;
  max-height: 100vh;
  top: 8%;
  left: 40%;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  letter-spacing: 1px;
}
.modal__body div {
  padding: 20px;
}
#cardPaysImg{
  width: 60%;
  height: 60%;
}
.modal__body img {
  width: 30%;
  height: 35%;
}
.modal__body label,
p,
h6 {
  font-size: 14px;
  margin: 4px 0;
}
.modal__body input {
  margin: 10px 0px;
  width: 90%;
  padding: 5px 10px;
}
.modal__body input:focus {
  outline: #f6a000;
  border: #f6a000 1px solid;
}
.modal__body button {
  width: 92%;
  background: #f0c14b;
  color: #111;
  padding: 4px 0;
  border: none;
  cursor: pointer;
  margin: 10px 0 30px 0;
}
.modal__body button:hover {
  background-color: #f6a000;
  transition: background-color 0.3s;
}

.modal__body button:focus {
  outline: none;
}
.divider-break {
  text-align: center;
  position: relative;
  top: 2px;
  padding-top: 1px;
  margin-bottom: 14px;
  line-height: 0;
}

/**LOADER***/
.loader-01 {
  position: fixed;
  top: 25%;
  left: 50%;
  z-index: 100;
  border: 0.4em dotted rgb(221, 141, 14);
  border-radius: 50%;
  animation: 1s loader-01 linear infinite;
  width: 40px;
  height: 40px;
}

@keyframes loader-01 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
